:root {
  --main-bg-color: #130b41;
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-family: Montserrat-Thin;
  src: url("../assets/fonts/Montserrat-Thin.ttf");
}

h1,
h3,
p {
  font-family: Montserrat-Light, sans-serif !important;
}

span, .popup-title, .popup-text, .popup-text p {
  font-family: Montserrat-Thin, sans-serif !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color) url("../assets/images/beach.jpg") no-repeat;
  background-position: center center;
  color: var(--main-bg-color);
}

body,
html {
  height: 100%;
}

.main-container {
  background-color: #a3a5c063;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

.vertical-line {
  border-left: 0.1px solid var(--main-bg-color);
  height: 10vh;
  left: 50%;
}

.txt-container {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filler-div {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 8vh !important;
}

.top-diamond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.made-button {
  width: 5vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.made-button:hover {
  cursor: pointer;
}

.menu-container {
  display: flex;
}

footer {
  position: absolute;
  bottom: 4vh;
}

.intro-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contact-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.menu-header-img {
  width: 10rem;
  height: 9rem;
}

a {
  text-decoration: none;
  padding: 1vw 6vh;
  color: var(--main-bg-color);
}

/* popup styling */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30vh auto;
  padding: 20px;
  background: rgba(27, 31, 34, 0.85);
  color: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  justify-content: space-around;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.popup .close:hover {
  color: violet;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.popup-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-title {
  font-size: 1.5em;
}