body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black url("../assets/images/beach.jpg") center no-repeat;
  color: black;
}

body,
html {
  height: 100%;
}

.main-container {
  background-color: #a3a5c063;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
}

.vertical-line {
  border-left: 0.1px solid black;
  height: 10vh;
  left: 50%;
}

.txt-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filler-div {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 8vh !important;
}

.top-diamond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: transparent;
  color: black;
  border: 1px solid black;
  height: 43px;
  width: 133px;
}

.menu-container {
  display: flex;
}

footer {
  position: absolute;
  bottom: 10vh;
}

.intro-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contact-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  cursor: pointer;
}